In [114]:
# Versão da Linguagem Python
from platform import python_version
print('Versão de Python Neste Jupyter Notebook:', python_version())

# usaremos o filtro 'warning' para deixar mais limpo.
import warnings
warnings.filterwarnings('ignore')

Versão de Python Neste Jupyter Notebook: 3.10.5

### Obtendo dados para Python

A primeira etapa da análise de dados é obter os dados. Mover seus dados de onde você os armazenou para suas ferramentas analíticas e voltar novamente pode ser uma tarefa difícil se você não souber o que está fazendo. O Python e suas bibliotecas tentam torná-lo o mais fácil possível.

Com apenas algumas linhas de código, você poderá importar e exportar dados nos seguintes formatos:

- CSV
- Excel
- SQL

#### Carregando dados de arquivos CSV

Normalmente, os dados chegarão até nós como arquivos ou links de banco de dados.

In [115]:
# Carregando dados do arquivo CSV.

import pandas as pd

arquivo = "datasets/smallgradesh.csv"
df = pd.read_csv(arquivo, header = None)

Agora, vamos dar uma olhada em como nossos dados se parecem

In [116]:
# Exibir as cinco primeiras linhas de dados.

df.head()

         0      1
0     Name  Grade
1   Marcia   82.4
2   Kadeem   78.2
3     Nash   79.3
4  Noelani   83.2

Como você pode ver, nosso dataframe não possui cabeçalhos de coluna. Ou melhor, existem cabeçalhos, mas não foram carregados como cabeçalhos; eles foram carregados como linha um de seus dados.

In [117]:
# Carregando dados do arquivo CSV com cabeçalhos.

caminho = "datasets/gradedata.csv" 
df = pd.read_csv(caminho)

In [118]:
df.head()

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"

Se você tiver um conjunto de dados que não inclua cabeçalhos, poderá adicioná-los posteriormente.

In [119]:
# Carregando dados do arquivo CSV e adicionando cabeçalhos.arquivo

caminho = "datasets/smallgrades.csv"

# Para adicionar cabeçalhos enquanto carregamos os dados.
df = pd.read_csv(caminho, 
                 names = ['Names', 'Grades'])

# Para adicionar cabeçalhos a um dataframe.
df.columns = ['Names', 'Grades']

In [120]:
df.head()

     Names  Grades
0   Marcia    82.4
1   Kadeem    78.2
2     Nash    79.3
3  Noelani    83.2
4  Noelani    87.4

#### Salvando dados em CSV

Talvez você queira salvar seu progresso ao analisar dados. Talvez você esteja apenas usando o Python para massagear alguns dados para análise posterior em outra ferramenta. Ou talvez você tenha algum outro motivo para exportar seu dataframe para um arquivo CSV.

In [121]:
# Exportando um conjunto de dados para CSV

nomes = ['Bob', 'Jessica', 'Mary', 'John', 'Mel'] 
notas = [76, 95, 77, 78, 99]
GradeList = zip(nomes, notas) 

df = pd.DataFrame(data = GradeList, 
                  columns = ['Nomes', 'Notas'])

df.to_csv('datasets/studentgrades.csv',
          index = False,
          header = False)

- As linhas 3 a 8 são as linhas que criam o dataframe. 
- A linha 10 é o código para exporte o dataframe df para um arquivo CSV chamado studentgrades.csv.

Os únicos parâmetros que usamos são index e header. Configurando estes parâmetros como falso impedirá que os nomes de índice e cabeçalho sejam exportados. Altere os valores desses parâmetros para entender melhor seu uso.

Se você deseja informações detalhadas sobre o método to_csv,

In [122]:
# Obtendo ajuda para to_csv

df.to_csv?

Signature:
df.to_csv(
    path_or_buf: 'FilePath | WriteBuffer[bytes] | WriteBuffer[str] | None' = None,
    sep: 'str' = ',',
    na_rep: 'str' = '',
    float_format: 'str | None' = None,
    columns: 'Sequence[Hashable] | None' = None,
    header: 'bool_t | list[str]' = True,
    index: 'bool_t' = True,
    index_label: 'IndexLabel | None' = None,
    mode: 'str' = 'w',
    encoding: 'str | None' = None,
    compression: 'CompressionOptions' = 'infer',
    quoting: 'int | None' = None,
    quotechar: 'str' = '"',
    line_terminator: 'str | None' = None,
    chunksize: 'int | None' = None,
    date_format: 'str | None' = None,
    doublequote: 'bool_t' = True,
    escapechar: 'str | None' = None,
    decimal: 'str' = '.',
    errors: 'str' = 'strict',
    storage_options: 'StorageOptions' = None,
) -> 'str | None'
Docstring:
Write object to a comma-separated values (csv) file.

Parameters
----------
path_or_buf : str, path object, file-like object, or None, default None
    String, path object (implementing os.PathLike[str]), or file-like
    object implementing a write() function. If None, the result is
    returned as a string. If a non-binary file object is passed, it should
    be opened with `newline=''`, disabling universal newlines. If a binary
    file object is passed, `mode` might need to contain a `'b'`.

    .. versionchanged:: 1.2.0

       Support for binary file objects was introduced.

sep : str, default ','
    String of length 1. Field delimiter for the output file.
na_rep : str, default ''
    Missing data representation.
float_format : str, default None
    Format string for floating point numbers.
columns : sequence, optional
    Columns to write.
header : bool or list of str, default True
    Write out the column names. If a list of strings is given it is
    assumed to be aliases for the column names.
index : bool, default True
    Write row names (index).
index_label : str or sequence, or False, default None
    Column label for index column(s) if desired. If None is given, and
    `header` and `index` are True, then the index names are used. A
    sequence should be given if the object uses MultiIndex. If
    False do not print fields for index names. Use index_label=False
    for easier importing in R.
mode : str
    Python write mode, default 'w'.
encoding : str, optional
    A string representing the encoding to use in the output file,
    defaults to 'utf-8'. `encoding` is not supported if `path_or_buf`
    is a non-binary file object.
compression : str or dict, default 'infer'
    For on-the-fly compression of the output data. If 'infer' and '%s'
    path-like, then detect compression from the following extensions: '.gz',
    '.bz2', '.zip', '.xz', or '.zst' (otherwise no compression). Set to
    ``None`` for no compression. Can also be a dict with key ``'method'`` set
    to one of {``'zip'``, ``'gzip'``, ``'bz2'``, ``'zstd'``} and other
    key-value pairs are forwarded to ``zipfile.ZipFile``, ``gzip.GzipFile``,
    ``bz2.BZ2File``, or ``zstandard.ZstdDecompressor``, respectively. As an
    example, the following could be passed for faster compression and to create
    a reproducible gzip archive:
    ``compression={'method': 'gzip', 'compresslevel': 1, 'mtime': 1}``.

    .. versionchanged:: 1.0.0

       May now be a dict with key 'method' as compression mode
       and other entries as additional compression options if
       compression mode is 'zip'.

    .. versionchanged:: 1.1.0

       Passing compression options as keys in dict is
       supported for compression modes 'gzip', 'bz2', 'zstd', and 'zip'.

    .. versionchanged:: 1.2.0

        Compression is supported for binary file objects.

    .. versionchanged:: 1.2.0

        Previous versions forwarded dict entries for 'gzip' to
        `gzip.open` instead of `gzip.GzipFile` which prevented
        setting `mtime`.

quoting : optional constant from csv module
    Defaults to csv.QUOTE_MINIMAL. If you have set a `float_format`
    then floats are converted to strings and thus csv.QUOTE_NONNUMERIC
    will treat them as non-numeric.
quotechar : str, default '\"'
    String of length 1. Character used to quote fields.
line_terminator : str, optional
    The newline character or character sequence to use in the output
    file. Defaults to `os.linesep`, which depends on the OS in which
    this method is called ('\\n' for linux, '\\r\\n' for Windows, i.e.).
chunksize : int or None
    Rows to write at a time.
date_format : str, default None
    Format string for datetime objects.
doublequote : bool, default True
    Control quoting of `quotechar` inside a field.
escapechar : str, default None
    String of length 1. Character used to escape `sep` and `quotechar`
    when appropriate.
decimal : str, default '.'
    Character recognized as decimal separator. E.g. use ',' for
    European data.
errors : str, default 'strict'
    Specifies how encoding and decoding errors are to be handled.
    See the errors argument for :func:`open` for a full list
    of options.

    .. versionadded:: 1.1.0

storage_options : dict, optional
    Extra options that make sense for a particular storage connection, e.g.
    host, port, username, password, etc. For HTTP(S) URLs the key-value pairs
    are forwarded to ``urllib`` as header options. For other URLs (e.g.
    starting with "s3://", and "gcs://") the key-value pairs are forwarded to
    ``fsspec``. Please see ``fsspec`` and ``urllib`` for more details.

    .. versionadded:: 1.2.0

Returns
-------
None or str
    If path_or_buf is None, returns the resulting csv format as a
    string. Otherwise returns None.

See Also
--------
read_csv : Load a CSV file into a DataFrame.
to_excel : Write DataFrame to an Excel file.

Examples
--------
>>> df = pd.DataFrame({'name': ['Raphael', 'Donatello'],
...                    'mask': ['red', 'purple'],
...                    'weapon': ['sai', 'bo staff']})
>>> df.to_csv(index=False)
'name,mask,weapon\nRaphael,red,sai\nDonatello,purple,bo staff\n'

Create 'out.zip' containing 'out.csv'

>>> compression_opts = dict(method='zip',
...                         archive_name='out.csv')  # doctest: +SKIP
>>> df.to_csv('out.zip', index=False,
...           compression=compression_opts)  # doctest: +SKIP

To write a csv file to a new folder or nested folder you will first
need to create it using either Pathlib or os:

>>> from pathlib import Path  # doctest: +SKIP
>>> filepath = Path('folder/subfolder/out.csv')  # doctest: +SKIP
>>> filepath.parent.mkdir(parents=True, exist_ok=True)  # doctest: +SKIP
>>> df.to_csv(filepath)  # doctest: +SKIP

>>> import os  # doctest: +SKIP
>>> os.makedirs('folder/subfolder', exist_ok=True)  # doctest: +SKIP
>>> df.to_csv('folder/subfolder/out.csv')  # doctest: +SKIP
File:      c:\users\caíque miranda\appdata\local\programs\python\python310\lib\site-packages\pandas\core\generic.py
Type:      method

In [123]:
# Criando um conjunto de dados para o exercício

names = ['Bob', 'Jessica', 'Mary', 'John', 'Mel'] 

notas = [76, 95, 77, 78, 99] 
bsdegrees = [1, 1, 0, 0, 1] 
msdegrees = [2, 1, 0, 0, 0] 
phddegrees = [0, 1, 0, 0, 0]

Graus = zip(nomes, notas, bsdegrees, msdegrees, phddegrees) 

colunas = ['Nomes', 'Notas', 'BS', 'MS', 'PhD'] 

df = pd.DataFrame(data = Graus,
                  columns = colunas ) 

df

     Nomes  Notas  BS  MS  PhD
0      Bob     76   1   2    0
1  Jessica     95   1   1    1
2     Mary     77   0   0    0
3     John     78   0   0    0
4      Mel     99   1   0    0

Você pode exportar o dataframe criado pelo código na Listagem

#### Carregando dados de arquivos do Excel

Normalmente, os dados chegarão até nós como arquivos ou links de banco de dados. Vamos ver como carregar dados de um arquivo Excel

In [124]:
# Carregando dados do arquivo do Excel

caminho = "datasets/gradedata.xlsx"
df = pd.read_excel(caminho)

vamos dar uma olhada

In [125]:
# Exibir as cinco primeiras linhas de dados
df.head()

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"7379 Highland Rd. , Dublin, GA 31021"
1,Kadeem,Morrison,male,18,4,4,78.2,"8 Bayport St. , Honolulu, HI 96815"
2,Nash,Powell,male,18,5,9,79.3,"Encino, CA 91316, 3 Lilac Street"
3,Noelani,Wagner,female,14,2,7,83.2,"Riverview, FL 33569, 9998 North Smith Dr."
4,Noelani,Cherry,female,18,4,15,87.4,"97 SE. Ocean Street , Bethlehem, PA 18015"

Se desejar alterar ou simplificar os nomes das colunas, você pode executar o código
mostrado na Listagem 2-11.

In [126]:
# Alterar nomes de colunas

df.columns = ['first', 'last', 'sex', 'age', 'exer', 'hrs', 'grd', 'addr'] 
df.head()

,first,last,sex,age,exer,hrs,grd,addr
0,Marcia,Pugh,female,17,3,10,82.4,"7379 Highland Rd. , Dublin, GA 31021"
1,Kadeem,Morrison,male,18,4,4,78.2,"8 Bayport St. , Honolulu, HI 96815"
2,Nash,Powell,male,18,5,9,79.3,"Encino, CA 91316, 3 Lilac Street"
3,Noelani,Wagner,female,14,2,7,83.2,"Riverview, FL 33569, 9998 North Smith Dr."
4,Noelani,Cherry,female,18,4,15,87.4,"97 SE. Ocean Street , Bethlehem, PA 18015"

#### Salvando dados em arquivos do Excel

In [127]:
# Exportando um Dataframe para o Excel

nomes = ['Bob', 'Jessica', 'Mary', 'John', 'Mel'] 
notas = [76, 95, 77, 78, 99]

GradeList = zip(nomes, notas) 
df = pd.DataFrame(data = GradeList, 
                  columns = ['Nomes', 'Notas']) 

escritor = pd.ExcelWriter('datasets/dataframe.xlsx', 
                          engine = 'xlsxwriter') 

df.to_excel(escritor, sheet_name = 'Planilha1') 

escritor.save()

Se desejar, você pode salvar diferentes quadros de dados em diferentes planilhas e com um `.save()` você criará um arquivo do Excel com várias planilhas

In [128]:
nomes = ['Bob', 'Jessica', 'Mary', 'John', 'Mel'] 
notas = [33, 93, 47, 99, 49]

GradeList = zip(nomes, notas) 
df2 = pd.DataFrame(data = GradeList, 
                  columns = ['Nomes', 'Notas'])

In [129]:
# Exportando Múltiplos Dataframes para o Excel

escritor = pd.ExcelWriter('datasets/dataframe.xlsx',
                          engine = 'xlsxwriter') 
df.to_excel(escritor, 
            sheet_name = 'Sheet1') 

df2.to_excel(escritor, 
             sheet_name = 'Sheet2') 

escritor.save()

In [130]:
# Criando um conjunto de dados para o exercício

marca = ['Nike', 'Adidas', 'New Balance', 'Puma', 'Reebok'] 
price = [176, 59, 47, 38, 99]

PriceList = zip(marca, price) 
df = pd.DataFrame(data = PriceList, 
                  columns = ['Marca', 'Preços'])

Combinando dados de vários arquivos do Excel

Às vezes, precisaremos combinar os dados de vários. Arquivos do Excel no mesmo dataframe.

Podemos fazer isso pelo caminho mais longo ou pelo caminho mais curto.

In [131]:
# Caminho Longo

import numpy as np

dados_completos = pd.DataFrame()

df = pd.read_excel("datasets/data1.xlsx") 
dados_completos = dados_completos.append(df, ignore_index=True)

df = pd.read_excel("datasets/data2.xlsx") 
dados_completos = dados_completos.append(df, ignore_index=True)

df = pd.read_excel("datasets/data3.xlsx") 
dados_completos = dados_completos.append(df, ignore_index=True) 

dados_completos.describe()

              age       grade
count  300.000000  300.000000
mean    16.456667   82.923333
std      1.700321   10.544576
min     14.000000   65.000000
25%     15.000000   73.750000
50%     16.000000   82.000000
75%     18.000000   92.000000
max     19.000000  100.000000

- Linha 5: Primeiro, vamos definir dados_completos para um dataframe vazio.
- Linha 7: Carregue o primeiro arquivo Excel no dataframe df.
- Linha 8: Anexa o conteúdo de df ao dataframe dados_completos.
- Linhas 10 e 11: Basicamente o mesmo que as linhas 7 e 8, mas para o próximo arquivo do Excel.

In [132]:
# Caminho curto

import glob

dados_completos = pd.DataFrame() 

for f in glob.glob("datasets/data*.xlsx"):
    df = pd.read_excel(f) 
    dados_completos = dados_completos.append(df, ignore_index = True)

dados_completos.describe()

              age       grade  Unnamed: 0      Notas
count  300.000000  300.000000    5.000000   5.000000
mean    16.456667   82.923333    2.000000  85.000000
std      1.700321   10.544576    1.581139  11.067972
min     14.000000   65.000000    0.000000  76.000000
25%     15.000000   73.750000    1.000000  77.000000
50%     16.000000   82.000000    2.000000  78.000000
75%     18.000000   92.000000    3.000000  95.000000
max     19.000000  100.000000    4.000000  99.000000

- Linha 3: Importa a biblioteca glob
- Linha 5: Vamos definir dados_completos para um dataframe vazio.
- Linha 6: Esta linha percorrerá todos os arquivos que correspondem ao padrão.
- Linha 7: Carregue o arquivo Excel em f no dataframe df.
- Linha 8: Anexa o conteúdo de df ao dataframe dados_completos.

Como temos apenas três arquivos de dados, a diferença no código não é tão perceptível. No entanto, se estivéssemos carregando cem arquivos, a diferença na quantidade de código seria enorme. Este código carregará todos os arquivos do Excel cujos nomes começam com dados que estão no diretório de conjuntos de dados, não importa quantos existam.

Na pasta datasets/weekly_call_data, existem 104 arquivos de dados de chamadas semanais por dois anos. Vamos carregar todos esses dados em um dataframe.

In [133]:
# Caminho curto

import glob

dados_completos = pd.DataFrame() 

for f in glob.glob("datasets/weekly_call_data/weekdata_*.xlsx"):
    df = pd.read_excel(f) 
    dados_completos = dados_completos.append(df, ignore_index = True)

dados_completos.describe()

In [ ]:
dados_completos.info()

#### Carregando dados do SQL

Normalmente, nossos dados chegarão até nós como arquivos ou links de banco de dados. Vamos aprender como carregar nossos dados de um arquivo de banco de dados sqlite.

In [ ]:
# Carregar dados do sqlite

from sqlalchemy import create_engine # Conecte-se ao sqlite db 

db_caminho = r'datasets/gradedata.db'

engine = create_engine(r"sqlite:///{}" .format(db_caminho))

sql =' SELECT * FROM test'
'WHERE Grades in (76, 77, 78)'

dados_de_vendas_df = pd.read_sql(sql, engine) 
dados_de_vendas_df

Esse código cria um link para o arquivo de banco de dados chamado `gradedata.db` e executa uma consulta nele. Em seguida, ele carrega os dados resultantes dessa consulta no dataframe chamado dados_de_vendas_df. Se você não souber os nomes das tabelas em um banco de dados sqlite, poderá descobrir alterando a instrução SQL.

In [ ]:
# Encontrando os nomes das tabelas

sql = "SELECT name FROM sqlite_master"
"WHERE type = 'table';"

In [ ]:
dados_de_vendas_df = pd.read_sql(sql, engine)
dados_de_vendas_df

Depois de saber o nome de uma tabela que deseja visualizar (digamos que seja um teste), se quiser saber os nomes dos campos dessa tabela, você pode alterar sua instrução SQL

In [ ]:
# Uma consulta básica

sql = "SELECT * FROM test;"

In [ ]:
dados_de_vendas_df = pd.read_sql(sql, engine)
dados_de_vendas_df

In [ ]:
dados_de_vendas_df.head()

Então, depois de executar `dados_de_vendas_df.head()` no dataframe, você ser capaz de ver os campos como cabeçalhos no topo de cada coluna.

Como sempre, se precisar de mais informações sobre o comando,

In [ ]:
# Obtenha ajuda em read_sql

pd.read_sql?

vamos carregar dados do banco de dados `datasets/salesdata.db`

In [ ]:
db_caminho = r'datasets/salesdata.db'

engine = create_engine(r"sqlite:///{}" .format(db_caminho))

# Encontrando os nomes das tabelas
sql = "SELECT name FROM sqlite_master"
"WHERE type = 'table';"

dados_de_vendas_df = pd.read_sql(sql, engine) 
dados_de_vendas_df

In [ ]:
# Encontrando os nomes das tabelas

sql = "SELECT * FROM scores"

In [ ]:
dados_de_vendas_df = pd.read_sql(sql, engine)
dados_de_vendas_df

#### Salvando dados em SQL

In [ ]:
# Criar conjunto de dados para salvar

nomes = ['Bob', 'Jessica', 'Mary', 'John', 'Mel'] 
notas =[76, 95, 77, 78, 99]

GradeList = zip(nomes,notas) 
df = pd.DataFrame(data = GradeList,
                  columns = ['Nomes', 'Notas'])

df

Para exportá-lo para SQL, podemos usar esse código.

In [ ]:
# Exportar dataframe para sqlite
import os
import sqlite3 as lite

db_nome_arquivo = r'datasets/mydb.db' 

con = lite.connect(db_nome_arquivo)
df.to_sql('minha_tabela',
          con,
          schema = None,
          if_exists = 'replace',
          index = True,
          index_label = None,
          chunksize = None,
          dtype = None)

con.close()

- Linha 5: `mydb.db` é o caminho e o nome do sqlite banco de dados que você deseja usar.
- Linha 8: `minha_tabela` é o nome da tabela no base de dados.

se precisar de mais informações sobre o comando, você pode execute o código

In [ ]:
# Obtenha ajuda sobre to_sql

df.to_sql?

vamos criar uma tabela sqlite que contenha os dados encontrados em `datasets/gradedata.csv`

In [ ]:
%reload_ext watermark
%watermark -a "Caique Miranda" -gu "caiquemiranda" -iv

### End.