In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão de Python Neste Jupyter Notebook:', python_version())

### Preparando os dados

A segunda etapa da análise de dados é a limpeza dos dados. Preparar dados para ferramentas analíticas pode ser uma tarefa difícil. O Python e suas bibliotecas tentam torná-lo o mais fácil possível.

Com apenas algumas linhas de código, você poderá preparar seus dados para análise. Você poderá:

- Limpar os dados.
- Criar novas variáveis.
- Organizar os dados.

#### Limpeza de dados

Para serem úteis para a maioria das tarefas analíticas, os dados devem estar limpos. Isso significa que deve ser consistente, relevante e padronizado.

- remover valores discrepantes;
- remover valores inadequados;
- remover duplicatas;
- remover pontuação;
- remover espaços em branco;
- padronizar datas;
- padronizar o texto.

#### Calculando e removendo outliers

Suponha que você esteja coletando dados sobre as pessoas com quem você estudou no ensino médio. E se você foi para a escola com Bill Gates. Agora, mesmo que a pessoa com o segundo maior patrimônio líquido tenha apenas $ 1,5 milhão, a média de toda a sua classe é aumentada pelo bilionário no topo. Encontrar os outliers permite remover os valores que são tão altos ou tão baixos que distorcem a visão geral dos dados.

Cobrimos duas maneiras principais de detectar outliers:

- 1. Desvios Padrão: Se os dados forem normalmente distribuído, então 95 por cento dos dados estão dentro de 1,96 desvios padrão da média. Portanto, podemos descartar os valores acima ou abaixo desse intervalo.

- 2. Intervalo Interquartílico (IQR): O IQR é o diferença entre o quantil de 25 por cento e o quantil de 75 por cento. Quaisquer valores inferiores a Q1 - 1,5 x IQR ou superiores a Q3 + 1,5 x IQR são tratados como outliers e removidos.

Vamos ver como eles se parecem

In [6]:
# Método 1: Desvio Padrão
import pandas as pd

caminho = "datasets/gradedata.csv" 
df = pd.read_csv(caminho) 

media_notas = df['grade'].mean()
desvio_notas = df['grade'].std() 

valores_altos = media_notas + desvio_notas * 1.96 
valores_baixos = media_notas - desvio_notas * 1.96 

copia_df = df 

copia_df = copia_df.drop(copia_df[copia_df['grade'] > valores_altos].index)
copia_df = copia_df.drop(copia_df[copia_df['grade'] < valores_baixos].index)

copia_df

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"
...,...,...,...,...,...,...,...,...
1995,Cody,Shepherd,male,19,1,8,80.1,"982 West Street, Alexandria, VA 22304"
1996,Geraldine,Peterson,female,16,4,18,100.0,"78 Morris Street, East Northport, NY 11731"
1997,Mercedes,Leon,female,18,3,14,84.9,"30 Glenridge Rd., Bountiful, UT 84010"
1998,Lucius,Rowland,male,16,1,7,69.1,"342 West Meadowbrook Lane, Helena, MT 59601"
1999,Linus,Morris,male,19,4,10,79.6,"81 Homestead Drive, Voorhees, NJ 08043"

- Linha 10: Aqui calculamos o intervalo superior igual a 1,96 vezes o desvio padrão mais a média.
- Linha 11: Aqui calculamos o intervalo inferior igual a 1,96 vezes o desvio padrão subtraído do desvio.
- Linha 15: Aqui descartamos as linhas onde a nota é maior do que o toprange.
- Linha 16: Aqui descartamos as linhas onde está a nota inferior ao botrange.

In [ ]:
# Método 2: Intervalo Interquartílico
importar pandas como pd
Location = "datasets/gradedata.csv" df =
pd.read_csv(Location) q1 =
df['grade'].quantile(.25) q3 =
df['grade'].quantile(.75) iqr = q3-q1
toprange = q3
+ iqr botrange = q1 - iqr
copydf = df

copydf = copydf.drop(copydf[copydf['nota'] > toprange].index)
copydf =
copydf.drop(copydf[copydf['nota'] < botrange].index)
copydf

• Linha 9: Aqui calculamos o limite superior = o terceiro quartil + 1,5
* o IQR.
* Linha 10: Aqui calculamos o limite inferior = o primeiro quartil - 1,5 *
o IQR.
• Linha 13: Aqui descartamos as linhas onde está a nota
mais alto que o toprange.
• Linha 14: Aqui descartamos as linhas onde está a nota
inferior ao botrange.

Carregue o conjunto de dados datasets/outlierdata.csv. Você pode remover os
outliers? Experimente com ambos os métodos.

In [ ]:
%reload_ext watermark
%watermark -a "Caique Miranda" -gu "caiquemiranda" -iv

### End.